In [ ]:
from decouple import Config, RepositoryEnv
import psycopg2 as pg
import pandas as pd

In [ ]:
config = Config(RepositoryEnv('./.env'))
HOST = config.get('REMOTE_HOST')
UNAME = config.get('UNAME')
PW = config.get('PASSWORD')
DB_NAME = config.get('DB_NAME')
BASE_PATH = config.get('BASE_PATH')

In [ ]:
# get post counts per platform
with pg.connect("host='{}' port={} dbname='{}' user={} password={}".format(HOST, 5432, DB_NAME, UNAME, PW)) as conn:
    sql_query = """SELECT platform, COUNT(*) 
FROM content 
GROUP BY platform;"""
    dat = pd.read_sql_query(sql_query, conn)

In [ ]:
dat

In [ ]:
# get all alt_news posts for october
with pg.connect("host='{}' port={} dbname='{}' user={} password={}".format(HOST, 5432, DB_NAME, UNAME, PW)) as conn:
    sql_query = """SELECT *
FROM content
WHERE platform = 'alt_news'
  AND date BETWEEN '2020-08-01' AND '2020-08-31';
"""
    dat = pd.read_sql_query(sql_query, conn)

In [ ]:
dat

In [ ]:
# new label

# add liwc data to twitter (see sampled)

## SQL Wrapper
# label
# platform
# subplatform
# string match
# language
# zeitraum
# author 

## Functions
# get dataframe
# sum rows
# aggreate: sum pro zeiteinheit


# fake url f√ºr compact: titel + datum