In [ ]:
from decouple import Config, RepositoryEnv
import psycopg2 as pg
import pandas as pd

In [ ]:
config = Config(RepositoryEnv('./.env'))
HOST = config.get('REMOTE_HOST')
UNAME = config.get('UNAME')
PW = config.get('PASSWORD')
DB_NAME = config.get('DB_NAME')
BASE_PATH = config.get('BASE_PATH')

In [ ]:
# get post counts per platform
with pg.connect("host='{}' port={} dbname='{}' user={} password={}".format(HOST, 5432, DB_NAME, UNAME, PW)) as conn:
    sql_query = """SELECT platform, COUNT(*) 
FROM content 
GROUP BY platform;"""
    dat = pd.read_sql_query(sql_query, conn)

In [ ]:
dat

In [1]:
from src.query_neovex import get_query_wrapper

In [ ]:
# EXAMPLE 1 : basic query
# get all alternative and legacy news posts for august
## OPTION 1: specify get_query_wrapper function
NEOVEXwrapper11 = get_query_wrapper(platform=['alt_news', 'legacy_news'], daterange=('2020-08-01','2020-08-31'))
dat11 = NEOVEXwrapper11.execute_query()

## OPTION 2: specify using 'set_' methods
NEOVEXwrapper12 = get_query_wrapper()
NEOVEXwrapper12.set_platform(['alt_news', 'legacy_news'])
NEOVEXwrapper12.set_daterange('2020-08-01','2020-08-31')
dat12 = NEOVEXwrapper12.execute_query()

In [ ]:
# EXAMPLE 2: aggregate query
# EXAMPLE 2.1 : get post counts per platform
NEOVEXwrapper2 = get_query_wrapper()
dat21 = NEOVEXwrapper2.sum_rows(group_by="platform")
# EXAMPLE 2.2 : get post counts per platform and date
dat22 = NEOVEXwrapper2.sum_rows(group_by=["platform","date"])

In [3]:
dat3

       platform        date  count
0      alt_news  2010-06-29      1
1      alt_news  2011-01-01      1
2      alt_news  2011-01-03      2
3      alt_news  2011-01-04      2
4      alt_news  2011-01-05      2
...         ...         ...    ...
19208   twitter  2021-12-28    589
19209   twitter  2021-12-29    638
19210   twitter  2021-12-30    677
19211   twitter  2021-12-31    597
19212   twitter  2022-01-01    175

[19213 rows x 3 columns]

In [ ]:
# label (inclusion/exclusion), platform, subplatform, string match, language, zeitraum, author
# get dataframe, sum rows, sum per time unit

In [ ]:
NEOVEXwrapper = get_query_wrapper()

In [ ]:
NEOVEXwrapper.set_platform('alt_news')
NEOVEXwrapper.set_language('eng')
NEOVEXwrapper.set_daterange('2020-08-01','2020-08-31')
NEOVEXwrapper.get_criteria()
# results = db_wrapper.execute_query()
# print(results)
# total_rows = db_wrapper.sum_rows()
# print(total_rows)
# monthly_aggregation = db_wrapper.sum_per_time_unit('MONTH')
# print(monthly_aggregation)
# db_wrapper.close()

In [ ]:
NEOVEXwrapper.execute_query()