In [1]:
from decouple import Config, RepositoryEnv
import psycopg2 as pg
import pandas as pd

In [2]:
config = Config(RepositoryEnv('./.env'))
HOST = config.get('REMOTE_HOST')
UNAME = config.get('UNAME')
PW = config.get('PASSWORD')
DB_NAME = config.get('DB_NAME')
BASE_PATH = config.get('BASE_PATH')

In [12]:
# get post counts per platform
with pg.connect("host='{}' port={} dbname='{}' user={} password={}".format(HOST, 5432, DB_NAME, UNAME, PW)) as conn:
    sql_query = """SELECT 
    date, 
    platform,
    COUNT(label_liwc) AS count_liwc,
    COUNT(label_consp) AS count_consp
FROM 
    content
GROUP BY 
    date, 
    platform
ORDER BY 
    date, 
    platform;"""
    dat = pd.read_sql_query(sql_query, conn)

/tmp/ipykernel_13799/988444388.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dat = pd.read_sql_query(sql_query, conn)

In [13]:
dat

             date     platform  count_liwc  count_consp
0      2011-01-01  legacy_news           0            4
1      2011-01-01      twitter           0          427
2      2011-01-02  legacy_news           0            6
3      2011-01-02      twitter           0          611
4      2011-01-03  legacy_news           0           32
...           ...          ...         ...          ...
10987  2021-12-30      twitter           0          677
10988  2021-12-31  legacy_news           0           22
10989  2021-12-31        4chan           0         1860
10990  2021-12-31      twitter           0          597
10991  2022-01-01      twitter           0          175

[10992 rows x 4 columns]

In [ ]:
# get all alt_news posts for october
with pg.connect("host='{}' port={} dbname='{}' user={} password={}".format(HOST, 5432, DB_NAME, UNAME, PW)) as conn:
    sql_query = """SELECT *
FROM content
WHERE platform = 'alt_news'
  AND date BETWEEN '2020-08-01' AND '2020-08-31';
"""
    dat = pd.read_sql_query(sql_query, conn)

In [ ]:
dat