In [1]:
from decouple import Config, RepositoryEnv
import psycopg2 as pg
import pandas as pd

In [2]:
config = Config(RepositoryEnv('./.env'))
HOST = config.get('REMOTE_HOST')
UNAME = config.get('UNAME')
PW = config.get('PASSWORD')
DB_NAME = config.get('DB_NAME')
BASE_PATH = config.get('BASE_PATH')

In [3]:
from src.query_neovex import get_query_wrapper

In [4]:
# EXAMPLE 1 : basic query
# get all alternative and legacy news posts for august
## OPTION 1: specify get_query_wrapper function
NEOVEXwrapper11 = get_query_wrapper(platform=['alt_news', 'legacy_news'], daterange=('2020-08-01','2020-08-31'))
NEOVEXwrapper11.execute_query()

,content_id,created_at,date,id,label_consp,label_liwc,language,platform,subplatform,text,text_prep,timestamp,title,updated_at
0,18333,2024-08-13 18:02:13.287056,2020-08-18,18333,55076,NaN,eng,legacy_news,USAtoday,WASHINGTON – Seeking to \r\npreempt the Democr...,WASHINGTON – Seeking to \r\npreempt the Democr...,NaN,Trump vies for spotlight amid Dems' convention,2024-08-13 18:02:13.287056
1,32487,2024-08-13 18:02:13.287056,2020-08-18,32487,69230,NaN,eng,legacy_news,WP,President Trump on Monday\r\n kicked off his w...,President Trump on Monday\r\n kicked off his w...,NaN,Trump uses multistate Midwest trip as foil for...,2024-08-13 18:02:13.287056
2,32488,2024-08-13 18:02:13.287056,2020-08-16,32488,69231,NaN,eng,legacy_news,WP,MEXICO CITY - As tensions\r\n between the Unit...,MEXICO CITY - As tensions\r\n between the Unit...,NaN,Mexico tries to wrest U.S. firms from China as...,2024-08-13 18:02:13.287056
3,32489,2024-08-13 18:02:13.287056,2020-08-16,32489,69232,NaN,eng,legacy_news,WP,"\nHBO's horror drama ""Lovecraft Country"" \r\na...","\nHBO's horror drama ""Lovecraft Country"" \r\na...",NaN,Literary fantasy unevenly blends with civil ri...,2024-08-13 18:02:13.287056
4,32490,2024-08-13 18:02:13.287056,2020-08-15,32490,69233,NaN,eng,legacy_news,WP,"One year ago this week, \r\nPopeyes fired the ...","One year ago this week, \r\nPopeyes fired the ...",NaN,Chicken sandwich rivalry still has pluck,2024-08-13 18:02:13.287056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,12817,2024-08-13 18:02:13.287056,2020-08-01,12817,49560,NaN,eng,legacy_news,NYT,"A roundup of streaming theater: almost naked, ...","A roundup of streaming theater: almost naked, ...",NaN,Some Choice Offerings For Online Audiences,2024-08-13 18:02:13.287056
1238,478,2024-08-13 18:02:13.287056,2020-08-17,478,37221,NaN,eng,legacy_news,NYT,A major European show of work made during coro...,A major European show of work made during coro...,NaN,"They're in Lockdown, and It Shows",2024-08-13 18:02:13.287056
1239,479,2024-08-13 18:02:13.287056,2020-08-08,479,37222,NaN,eng,legacy_news,NYT,Scottish polling shows a majority favor indepe...,Scottish polling shows a majority favor indepe...,NaN,"After Quitting E.U., London Moves to Thwart Sc...",2024-08-13 18:02:13.287056
1240,480,2024-08-13 18:02:13.287056,2020-08-08,480,37223,NaN,eng,legacy_news,NYT,But history has a way of confounding those who...,But history has a way of confounding those who...,NaN,Trump and Allies Think They Know Who Counts,2024-08-13 18:02:13.287056
1241,481,2024-08-13 18:02:13.287056,2020-08-01,481,37224,NaN,eng,legacy_news,NYT,"If Joe Biden wins the November election, Brita...","If Joe Biden wins the November election, Brita...",NaN,"After Years of Mollifying Trump, U.K. Ponders ...",2024-08-13 18:02:13.287056

In [5]:
## OPTION 2: specify using 'set_' methods
NEOVEXwrapper12 = get_query_wrapper()
NEOVEXwrapper12.set_platform(['alt_news', 'legacy_news'])
NEOVEXwrapper12.set_daterange('2020-08-01','2020-08-31')
NEOVEXwrapper12.execute_query()

,content_id,created_at,date,id,label_consp,label_liwc,language,platform,subplatform,text,text_prep,timestamp,title,updated_at
0,18333,2024-08-13 18:02:13.287056,2020-08-18,18333,55076,NaN,eng,legacy_news,USAtoday,WASHINGTON – Seeking to \r\npreempt the Democr...,WASHINGTON – Seeking to \r\npreempt the Democr...,NaN,Trump vies for spotlight amid Dems' convention,2024-08-13 18:02:13.287056
1,32487,2024-08-13 18:02:13.287056,2020-08-18,32487,69230,NaN,eng,legacy_news,WP,President Trump on Monday\r\n kicked off his w...,President Trump on Monday\r\n kicked off his w...,NaN,Trump uses multistate Midwest trip as foil for...,2024-08-13 18:02:13.287056
2,32488,2024-08-13 18:02:13.287056,2020-08-16,32488,69231,NaN,eng,legacy_news,WP,MEXICO CITY - As tensions\r\n between the Unit...,MEXICO CITY - As tensions\r\n between the Unit...,NaN,Mexico tries to wrest U.S. firms from China as...,2024-08-13 18:02:13.287056
3,32489,2024-08-13 18:02:13.287056,2020-08-16,32489,69232,NaN,eng,legacy_news,WP,"\nHBO's horror drama ""Lovecraft Country"" \r\na...","\nHBO's horror drama ""Lovecraft Country"" \r\na...",NaN,Literary fantasy unevenly blends with civil ri...,2024-08-13 18:02:13.287056
4,32490,2024-08-13 18:02:13.287056,2020-08-15,32490,69233,NaN,eng,legacy_news,WP,"One year ago this week, \r\nPopeyes fired the ...","One year ago this week, \r\nPopeyes fired the ...",NaN,Chicken sandwich rivalry still has pluck,2024-08-13 18:02:13.287056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,12059,2024-08-13 18:02:13.287056,2020-08-27,12059,48802,NaN,eng,legacy_news,NYT,In dozens of other \r\npatients who suppress t...,In dozens of other \r\npatients who suppress t...,NaN,Woman Who Had H.I.V. May Have Beat Virus With ...,2024-08-13 18:02:13.287056
1238,12060,2024-08-13 18:02:13.287056,2020-08-27,12060,48803,NaN,eng,legacy_news,NYT,A crusade against the F-Factor diet.\nMuch of ...,A crusade against the F-Factor diet.\nMuch of ...,NaN,The F-Factor Clash Diet,2024-08-13 18:02:13.287056
1239,12061,2024-08-13 18:02:13.287056,2020-08-25,12061,48804,NaN,eng,legacy_news,NYT,A virus that once \r\nparalyzed tens of thousa...,A virus that once \r\nparalyzed tens of thousa...,NaN,Africa Cheers As Wild Polio Is Eradicated,2024-08-13 18:02:13.287056
1240,12062,2024-08-13 18:02:13.287056,2020-08-25,12062,48805,NaN,eng,legacy_news,NYT,"The four other boroughs, hit hard by the pande...","The four other boroughs, hit hard by the pande...",NaN,Reviving Neighborhoods Deemed Key to Recovery,2024-08-13 18:02:13.287056
1241,12063,2024-08-13 18:02:13.287056,2020-08-25,12063,48806,NaN,eng,legacy_news,NYT,The only thing he can hope for is fear itself....,The only thing he can hope for is fear itself....,NaN,"QAnon Is Trump's Last, Best Chance",2024-08-13 18:02:13.287056

In [6]:
# EXAMPLE 2: aggregate query
# EXAMPLE 2.1 : get post counts per platform
NEOVEXwrapper2 = get_query_wrapper()
dat21 = NEOVEXwrapper2.sum_rows(group_by="platform")
# EXAMPLE 2.2 : get post counts per platform and date
dat22 = NEOVEXwrapper2.sum_rows(group_by=["platform","date"])

DatabaseError: Execution failed on sql 'SELECT "platform", COUNT(*) FROM contentSELECT content.* FROM content WHERE 1=1 GROUP BY "platform"': syntax error at or near "."
LINE 1: ...CT "platform", COUNT(*) FROM contentSELECT content.* FROM co...
                                                             ^

In [7]:
# EXAMPLE 3: specialised queries
# EXAMPLE 3.1 : text search
# EXAMPLE 3.1.1 : full text search
NEOVEXwrapper311 = get_query_wrapper()
NEOVEXwrapper311.set_string_match(match_string="Lizard") # setting case_sensitivity to True will yield only results where the casing matches
NEOVEXwrapper311.execute_query()

,content_id,created_at,date,id,label_consp,label_liwc,language,platform,subplatform,text,text_prep,timestamp,title,updated_at
0,16217,2024-08-13 18:02:13.287056,2016-01-05,16217,52960,NaN,eng,legacy_news,NYT,"CORRECTION APPENDEDMANTUA TOWNSHIP, N.J. -- Be...","CORRECTION APPENDEDMANTUA TOWNSHIP, N.J. -- Be...",NaN,Signs of a Mass Extinction,2024-08-13 18:02:13.287056
1,16426,2024-08-13 18:02:13.287056,2018-01-14,16426,53169,NaN,eng,legacy_news,NYT,SAN FRANCISCO -- Recently\r\n the founder of s...,SAN FRANCISCO -- Recently\r\n the founder of s...,NaN,Meet Your Masters,2024-08-13 18:02:13.287056
2,29598,2024-08-13 18:02:13.287056,2015-08-07,29598,66341,NaN,eng,legacy_news,WP,Prices are for the entire run of the show; ind...,Prices are for the entire run of the show; ind...,NaN,The District Maryland Virginia Comedy Dance,2024-08-13 18:02:13.287056
3,16708,2024-08-13 18:02:13.287056,2011-03-20,16708,53451,NaN,eng,legacy_news,NYT,THERE is a special kind of appeal to stories t...,THERE is a special kind of appeal to stories t...,NaN,"All Creatures Great and Lizardy, And Humans, Too",2024-08-13 18:02:13.287056
4,16878,2024-08-13 18:02:13.287056,2012-05-20,16878,53621,NaN,eng,legacy_news,NYT,HORSESHOE CRABS AND VELVET WORMS\nThe Story of...,HORSESHOE CRABS AND VELVET WORMS\nThe Story of...,NaN,Respect Your Elders,2024-08-13 18:02:13.287056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22506,15342,2024-08-13 18:02:13.287056,2021-10-01,15342,52085,NaN,eng,legacy_news,NYT,Immunization mandates aren't new. One helped w...,Immunization mandates aren't new. One helped w...,NaN,The Revolution and the Right to Health,2024-08-13 18:02:13.287056
22507,15368,2024-08-13 18:02:13.287056,2021-09-14,15368,52111,NaN,eng,legacy_news,NYT,A top conservation organization updated the st...,A top conservation organization updated the st...,NaN,The Largest Lizard: Komodo Dragons Look Terrif...,2024-08-13 18:02:13.287056
22508,15951,2024-08-13 18:02:13.287056,2012-02-19,15951,52694,NaN,eng,legacy_news,NYT,About the Best Sellers:\nThese lists are an ex...,About the Best Sellers:\nThese lists are an ex...,NaN,Best Sellers: Paperback Mass-Market Fiction: S...,2024-08-13 18:02:13.287056
22509,15912,2024-08-13 18:02:13.287056,2012-04-01,15912,52655,NaN,eng,legacy_news,NYT,About the Best Sellers:\nThese lists are an ex...,About the Best Sellers:\nThese lists are an ex...,NaN,Best Sellers: Paperback Mass-Market Fiction: S...,2024-08-13 18:02:13.287056
22510,15926,2024-08-13 18:02:13.287056,2012-03-18,15926,52669,16883.0,eng,legacy_news,NYT,About the Best Sellers:\nThese lists are an ex...,About the Best Sellers:\nThese lists are an ex...,NaN,Best Sellers: Paperback Mass-Market Fiction: S...,2024-08-13 18:02:13.287056

In [8]:
# EXAMPLE 3.1.2 : specified text search
NEOVEXwrapper312 = get_query_wrapper()
NEOVEXwrapper312.set_string_match(match_string="Chaos")
NEOVEXwrapper312.set_search_text(search_text="title")
# NEOVEXwrapper312.set_case_sensitivity(case_sensitivity=True) # setting case_sensitivity to True will yield only results where the casing matches
NEOVEXwrapper312.execute_query()

,content_id,created_at,date,id,label_consp,label_liwc,language,platform,subplatform,text,text_prep,timestamp,title,updated_at
0,18973,2024-08-13 18:02:13.287056,2015-08-01,18973,55716,NaN,eng,legacy_news,WSJ,"It was mid-July 1990, and\r\n for several days...","It was mid-July 1990, and\r\n for several days...",NaN,REVIEW --- The Last Classic \r\nWar --- Twenty...,2024-08-13 18:02:13.287056
1,29352,2024-08-13 18:02:13.287056,2015-12-18,29352,66095,NaN,eng,legacy_news,WP,"Roberto Valencia, 73, had\r\n a pulmonary embo...","Roberto Valencia, 73, had\r\n a pulmonary embo...",NaN,Plan to close home is causing 'chaos',2024-08-13 18:02:13.287056
2,30366,2024-08-13 18:02:13.287056,2019-03-19,30366,67109,NaN,eng,legacy_news,WP,Kim Jones was back from \r\nactive duty in Vie...,Kim Jones was back from \r\nactive duty in Vie...,NaN,a response to chaos,2024-08-13 18:02:13.287056
3,30504,2024-08-13 18:02:13.287056,2019-02-19,30504,67247,NaN,eng,legacy_news,WP,"AL-HOL, SYRIA - At the \r\nend, the Islamic St...","AL-HOL, SYRIA - At the \r\nend, the Islamic St...",NaN,In the final corner of ISIS's rotting 'calipha...,2024-08-13 18:02:13.287056
4,31400,2024-08-13 18:02:13.287056,2016-06-29,31400,68143,NaN,eng,legacy_news,WP,"Thanks to Brexit, the \r\nFrench may not buy a...","Thanks to Brexit, the \r\nFrench may not buy a...",NaN,Brexit unleashes currency chaos,2024-08-13 18:02:13.287056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17130,11055,2024-08-13 18:02:13.287056,2015-01-23,11055,47798,16666.0,eng,legacy_news,NYT,"CORRECTION APPENDEDSANA, Yemen -- The American...","CORRECTION APPENDEDSANA, Yemen -- The American...",NaN,U.S. Fears Chaos as Government of Yemen Falls,2024-08-13 18:02:13.287056
17131,11232,2024-08-13 18:02:13.287056,2017-10-22,11232,47975,NaN,eng,legacy_news,NYT,"One afternoon in late \r\nSeptember, I sat dow...","One afternoon in late \r\nSeptember, I sat dow...",NaN,State of Chaos,2024-08-13 18:02:13.287056
17132,12632,2024-08-13 18:02:13.287056,2019-05-21,12632,49375,NaN,eng,legacy_news,NYT,BERLIN -- Austria's \r\ntroubled coalition gov...,BERLIN -- Austria's \r\ntroubled coalition gov...,NaN,"In Austria, Calls to Oust Top Minister Further...",2024-08-13 18:02:13.287056
17133,13750,2024-08-13 18:02:13.287056,2013-01-18,13750,50493,NaN,eng,legacy_news,NYT,"The upheaval in Mali, including a coup in Marc...","The upheaval in Mali, including a coup in Marc...",NaN,Mali: Chaos Foils Disease Eradication,2024-08-13 18:02:13.287056
17134,14280,2024-08-13 18:02:13.287056,2019-08-01,14280,51023,NaN,eng,legacy_news,NYT,The Manson family murder \r\nspree of 1969 cla...,The Manson family murder \r\nspree of 1969 cla...,NaN,Helter Skelter or Chaos? A Long Look at Manson,2024-08-13 18:02:13.287056

In [9]:
# EXAMPLE 3.2 : author search
NEOVEXwrapper32 = get_query_wrapper()
NEOVEXwrapper32.set_author(author="juanlee337")
NEOVEXwrapper32.execute_query()

,content_id,created_at,date,id,label_consp,label_liwc,language,platform,subplatform,text,text_prep,timestamp,title,updated_at
0,12087751,2024-09-18 12:38:24.682988,2013-04-04,16101731,23467492,NaN,ger,reddit,cringe,where is the cringe part? just cause you dont ...,NaN,2013-04-04 03:35:37,where is the cringe part? just cause you dont ...,2024-09-18 12:38:24.682988
1,14196769,2024-09-19 02:50:05.985550,2015-10-14,18210749,25576510,NaN,eng,reddit,todayilearned,Bill Gates &gt; Elon Musk &gt; Steve Jobs\n\n,NaN,2015-10-14 18:02:09,Bill Gates Elon Musk Steve Jobs\n\n,2024-09-19 02:50:05.985550
2,14424266,2024-09-19 04:16:43.992112,2017-09-08,18438246,25804007,NaN,eng,reddit,todayilearned,TIL bill gates could buy 20 of these mofos and...,NaN,2017-09-08 15:13:43,TIL bill gates could buy 20 of these mofos and...,2024-09-19 04:16:43.992112
3,15781924,2024-09-19 15:31:53.374934,2018-11-21,19795891,27161652,NaN,eng,reddit,worldnews,Saudis are just doing US work. Without the US ...,NaN,2018-11-21 03:26:09,Saudis are just doing US work. Without the US ...,2024-09-19 15:31:53.374934

In [10]:
# EXAMPLE 3.3 : label exclusion / inclusion
# EXAMPLE 3.3.1 : include only posts which have been labelled "LIWC"
NEOVEXwrapper331 = get_query_wrapper()
NEOVEXwrapper331.set_label_inclusion(labels=["liwc"])
NEOVEXwrapper331.execute_query()

,content_id,created_at,date,id,label_consp,label_liwc,language,platform,subplatform,text,text_prep,timestamp,title,updated_at
0,45,2024-08-13 18:02:13.287056,2013-01-10,45,36788.0,16246,eng,legacy_news,NYT,8:35 p.m. | Updated\nThe television \r\nperson...,8:35 p.m. | Updated\nThe television \r\nperson...,NaN,TV Puppeteer at Center of Controversy Quits in...,2024-08-13 18:02:13.287056
1,59,2024-08-13 18:02:13.287056,2021-10-11,59,36802.0,16247,eng,legacy_news,NYT,The daring Manhattan theater reopens this mont...,The daring Manhattan theater reopens this mont...,NaN,"Puppetry, but Without a Big Bird or Miss Piggy...",2024-08-13 18:02:13.287056
2,71,2024-08-13 18:02:13.287056,2021-06-06,71,36814.0,16248,eng,legacy_news,NYT,Fuzzy puppet sheep. A light cutting through th...,Fuzzy puppet sheep. A light cutting through th...,NaN,Shows You Can Touch and Feel,2024-08-13 18:02:13.287056
3,72,2024-08-13 18:02:13.287056,2021-06-05,72,36815.0,16249,eng,legacy_news,NYT,It was all about the ears.\nWith very little r...,It was all about the ears.\nWith very little r...,NaN,Rooting Fantasy In Reality,2024-08-13 18:02:13.287056
4,123,2024-08-13 18:02:13.287056,2016-09-15,123,36866.0,16250,eng,legacy_news,NYT,CORRECTION APPENDEDWith his tufted white eyebr...,CORRECTION APPENDEDWith his tufted white eyebr...,NaN,"Daring Exploits in a Mind's Eye, but a Looseni...",2024-08-13 18:02:13.287056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274412,75736,2024-09-17 13:30:28.835999,2021-08-09,15970501,20286450.0,806249,eng,alt_news,breitbart,"A group of House Republicans, led by Rep. Chi...","A group of House Republicans, led by Rep. Chi...",NaN,House Republicans Threaten Action if DHS Hides...,2024-09-17 13:30:28.835999
274413,75737,2024-09-17 13:30:28.835999,2021-08-16,15970502,20286451.0,806250,eng,alt_news,breitbart,President Joe Biden's Department of Defense (D...,President Joe Biden's Department of Defense (D...,NaN,"Report: Biden Accepts 22,000 Afghan Refugees, ...",2024-09-17 13:30:28.835999
274414,75740,2024-09-17 13:30:28.835999,2021-08-07,15970503,20286452.0,806251,eng,alt_news,breitbart,Labour leader Sir Keir Starmer has said the pa...,Labour leader Sir Keir Starmer has said the pa...,NaN,Labour Leader Starmer: Party Should Be ‘Proud’...,2024-09-17 13:30:28.835999
274415,75741,2024-09-17 13:30:28.835999,2021-09-02,15970504,20286453.0,806252,eng,alt_news,breitbart,Over 100 retired generals and admirals are cal...,Over 100 retired generals and admirals are cal...,NaN,"130 Retired Generals, Admirals Call for Biden ...",2024-09-17 13:30:28.835999
274416,75742,2024-09-17 13:30:28.835999,2021-09-12,15970505,20286454.0,806253,eng,alt_news,breitbart,Bandits have raped at least 180 migrants since...,Bandits have raped at least 180 migrants since...,NaN,Biden’s Migrants Raped in Panama Jungle,2024-09-17 13:30:28.835999

In [11]:
# EXAMPLE 3.3.2 : exclude all posts which have been labelled "CONSP"
NEOVEXwrapper332 = get_query_wrapper()
NEOVEXwrapper332.set_label_exclusion(labels=["consp"])
NEOVEXwrapper332.execute_query()

,content_id,created_at,date,id,label_consp,label_liwc,language,platform,subplatform,text,text_prep,timestamp,title,updated_at
0,30909179,2024-08-27 06:53:26.362847,2012-03-15,8039043,NaN,251061,eng,twitter,NaN,New World Order- Blueprint of Madmen-Alex Jone...,New World Order- Blueprint of Madmen-Alex Jones:,2012-03-15 16:32:07,NaN,2024-08-27 06:53:26.362847
1,30859928,2024-08-27 06:43:16.512182,2012-03-18,8038780,NaN,250654,eng,twitter,NaN,New World Order uses KGB tactics to pacify the...,New World Order uses KGB tactics to pacify the...,2012-03-18 14:02:18,NaN,2024-08-27 06:43:16.512182
2,30860105,2024-08-27 06:43:16.512182,2012-03-18,8038781,NaN,250655,eng,twitter,NaN,Do you belive there will be a one world govern...,Do you belive there will be a one world govern...,2012-03-18 13:45:40,NaN,2024-08-27 06:43:16.512182
3,30860121,2024-08-27 06:43:16.512182,2012-03-18,8038782,NaN,250656,eng,twitter,NaN,I liked an @YouTube video http://t.co/xcG4bkaS...,I liked an video Food World Order: Episode013...,2012-03-18 13:44:41,NaN,2024-08-27 06:43:16.512182
4,30861154,2024-08-27 06:43:16.512182,2012-03-18,8038783,NaN,250657,eng,twitter,NaN,"David Icke - New World Order Dance, by Plumbja...","David Icke - New World Order Dance, by Plumbja...",2012-03-18 11:56:49,NaN,2024-08-27 06:43:16.512182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,36863706,2024-09-07 05:19:38.402800,2012-10-16,15929545,NaN,739264,eng,twitter,NaN,Rothschild quits Indonesia's Bumi Plc The Star...,Rothschild quits Indonesia's Bumi Plc The Star...,2012-10-16 08:25:35,NaN,2024-09-07 05:19:38.402800
1404,36863707,2024-09-07 05:19:38.402800,2012-10-16,15929546,NaN,739265,eng,twitter,NaN,Rothschild quits Indonesia's Bumi Plc The Star...,Rothschild quits Indonesia's Bumi Plc The Star...,2012-10-16 08:25:32,NaN,2024-09-07 05:19:38.402800
1405,36863907,2024-09-07 05:19:38.402800,2012-10-16,15929547,NaN,739266,eng,twitter,NaN,Rothschild resigns from Bumi Plc board: Founde...,Rothschild resigns from Bumi Plc board: Founde...,2012-10-16 08:01:35,NaN,2024-09-07 05:19:38.402800
1406,36864057,2024-09-07 05:19:38.402800,2012-10-16,15929548,NaN,739267,eng,twitter,NaN,Financier Nat Rothschild resigns from mining g...,Financier Nat Rothschild resigns from mining g...,2012-10-16 07:35:31,NaN,2024-09-07 05:19:38.402800
1407,36864168,2024-09-07 05:19:38.402800,2012-10-16,15929549,NaN,739268,eng,twitter,NaN,Activist Post: Global Terrorists or New World ...,Activist Post: Global Terrorists or New World ...,2012-10-16 07:24:33,NaN,2024-09-07 05:19:38.402800

In [12]:
# EXAMPLE 4: include specific data
# EXAMPLE 4.1 : include platform-specific data
NEOVEXwrapper41 = get_query_wrapper()
NEOVEXwrapper41.set_platform(['alt_news', 'legacy_news'])
NEOVEXwrapper41.set_daterange('2020-08-01','2020-08-31')
NEOVEXwrapper41.set_merge_platform_data(True)
NEOVEXwrapper41.execute_query()

,article_id,author,content_id,created_at,date,id,label_consp,label_liwc,language,meta,platform,section,subplatform,terms,text,text_prep,timestamp,title,updated_at,url
0,USAT000020200818eg8i0000j,David Jackson; Michael Collins,18333,2024-08-13 18:02:13.287056,2020-08-18,18333,55076,NaN,eng,NEWS\nTrump vies for spotlight amid Dems' conv...,legacy_news,NEWS,USAtoday,"['puppet', 'puppet', 'globalist', 'globalist']",WASHINGTON – Seeking to \r\npreempt the Democr...,WASHINGTON – Seeking to \r\npreempt the Democr...,NaN,Trump vies for spotlight amid Dems' convention,2024-08-13 18:02:13.287056,NaN
1,ZBILD00020200808eg880001s,Moses Apostaticus,39517,2024-08-13 18:02:13.287056,2020-08-08,39517,76260,NaN,ger,Zum 60. bekommt Jim Knopf einen neuen Film\n\n...,legacy_news,NaN,bild,"['Marionette', 'Marionette']","M. NIEHUS\nBerlin - """"Eine Insel mit zwei Berg...","M. NIEHUS\nBerlin - """"Eine Insel mit zwei Berg...",NaN,Zum 60. bekommt Jim Knopf einen neuen Film,2024-08-13 18:02:13.287056,https://dailycaller.com/2016/11/17/weaponized-...
2,ZBILD00020200804eg8400003,William J. Kelly,39518,2024-08-13 18:02:13.287056,2020-08-04,39518,76261,NaN,ger,"China feiert, die Welt leidet\n\n595 Wörter\n4...",legacy_news,NaN,bild,"['Marionette', 'Marionette']","Fünf knallharte Wahrheiten über Corona, die dr...","Fünf knallharte Wahrheiten über Corona, die dr...",NaN,"China feiert, die Welt leidet",2024-08-13 18:02:13.287056,https://dailycaller.com/2016/11/16/dont-let-ra...
3,ZBILD00020200820eg8k0000q,Joanne Butler,39516,2024-08-13 18:02:13.287056,2020-08-20,39516,76259,NaN,ger,Drehstart für neuen Tatort aus Dortmund\n\n67 ...,legacy_news,NaN,bild,"['Marionetten', 'Marionetten']",Dortmund - Ein neuer Fall für Kommissar Faber!...,Dortmund - Ein neuer Fall für Kommissar Faber!...,NaN,Drehstart für neuen Tatort aus Dortmund,2024-08-13 18:02:13.287056,https://dailycaller.com/2016/11/17/reince-prie...
4,SDDZ000020200829eg8t0002p,Trevor Schakohl,40504,2024-08-13 18:02:13.287056,2020-08-29,40504,77247,NaN,ger,Wirtschaft\nAUS DEM GLEICHGEWICHT GERATEN; Die...,legacy_news,Wirtschaft,SZ,"['Marionetten', 'Marionetten']",Es ist ja richtig: Der \r\nStaat leistet den B...,Es ist ja richtig: Der \r\nStaat leistet den B...,NaN,AUS DEM GLEICHGEWICHT GERATEN; Die\r\n Finanzk...,2024-08-13 18:02:13.287056,http://checkyourfact.com/2020/06/24/fact-check...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,NYTF000020200817eg8h00047,By The Editorial Board,12071,2024-08-13 18:02:13.287056,2020-08-17,12071,48814,NaN,eng,Editorial Desk; SECTA\nAnswers About Coronavir...,legacy_news,Editorial Desk; SECTA| Answers About Coronavir...,NYT,"['Bill Gates', 'Bill Gates']",America needs a national \r\ntesting plan. In ...,America needs a national \r\ntesting plan. In ...,NaN,Answers About Coronavirus Testing,2024-08-13 18:02:13.287056,NaN
1238,NYTF000020200817eg8h00030,By Shira Ovide,12072,2024-08-13 18:02:13.287056,2020-08-17,12072,48815,NaN,eng,ON TECH\nBusiness/Financial Desk; SECTB\nHow S...,legacy_news,ON TECH| Business/Financial Desk; SECTB,NYT,"['deep state', 'deep state']",QAnon can no longer be ignored. What internet ...,QAnon can no longer be ignored. What internet ...,NaN,How Social Media Sites Can Combat QAnon,2024-08-13 18:02:13.287056,NaN
1239,NYTF000020200816eg8g0007b,By Gus Wezerek,12073,2024-08-13 18:02:13.287056,2020-08-16,12073,48816,NaN,eng,Sunday Review Desk; SECTSR\nRacism's Hidden To...,legacy_news,Sunday Review Desk; SECTSR| Racism's Hidden To...,NYT,"['extinction', 'extinction']","As hospital beds filled \r\nup this spring, he...","As hospital beds filled \r\nup this spring, he...",NaN,Racism's Hidden Toll,2024-08-13 18:02:13.287056,NaN
1240,NYTF000020200816eg8g0005f,By Anton Troianovski and Sergey Ponomarev,12074,2024-08-13 18:02:13.287056,2020-08-16,12074,48817,NaN,eng,"Foreign Desk; SECTA\nFeeling Robbed of Fish, A...",legacy_news,"Foreign Desk; SECTA| Feeling Robbed of Fish, A...",NYT,"['exterminate', 'exterminate']","OZERPAKH, Russia -- A row\r\n of stakes hundre...","OZERPAKH, Russia -- A row\r\n of stakes hundre...",NaN,"Feeling Robbed of Fish, And Blaming Putin for It",2024-08-13 18:02:13.287056,NaN
1241,NYTF000020200831eg8v00037,By Amy Nicholson,12791,2024-08-13 18:02:13.287056,2020-08-31,12791,49534,NaN,eng,The Arts/Cultural Desk; SECTC\nMaybe All the C...,legacy_news,The Arts/Cultural Desk; SECTC| Maybe All the C...,NYT,"['puppet', 'puppet']",This much-delayed ''X-Men''-related film from ...,This much-delayed ''X-Men''-related film from ...,NaN,Maybe All the Cool Super Powers Were Taken,2024-08-13 18:02:13.287056,NaN

In [13]:
# EXAMPLE 4.2 : include label data
NEOVEXwrapper42 = get_query_wrapper()
NEOVEXwrapper42.set_label_inclusion(labels=["liwc"])
NEOVEXwrapper42.set_daterange('2020-08-01','2020-08-31')
NEOVEXwrapper42.set_merge_label_data(True)
NEOVEXwrapper42.execute_query()

,allnone,bigwords,cause,certitude,cogproc,content_id,created_at,date,differ,discrep,...,prep,segment,subplatform,tentat,text,text_prep,timestamp,title,updated_at,wc
0,0.49,25.69,0.59,0.1,6.79,60028,2024-09-17 13:30:28.835999,2020-08-08,3.25,0.49,...,16.44,1,breitbart,0.98,Susan Rice is reportedly on the short list to ...,Susan Rice is reportedly on the short list to ...,NaN,"Susan Rice, ‘Deep State’ Running Mate",2024-09-17 13:30:28.835999,1016
1,0.56,29.38,1.98,0.0,12.15,60317,2024-09-17 13:30:28.835999,2020-08-20,3.39,0.85,...,18.08,1,breitbart,3.11,United Nations staff members have accused the ...,United Nations staff members have accused the ...,NaN,U.N. Survey on Racism Asks Asians to Identify ...,2024-09-17 13:30:28.835999,354
2,0.23,28.37,1.76,0.12,7.62,60318,2024-09-17 13:30:28.835999,2020-08-28,1.76,0.7,...,16.18,1,breitbart,0.82,China's state-run propaganda newspaper Global ...,China's state-run propaganda newspaper Global ...,NaN,Chinese Media: Trump RNC Speech Delivered ‘Twi...,2024-09-17 13:30:28.835999,853
3,0.15,30.35,1.17,0.0,6.01,60319,2024-09-17 13:30:28.835999,2020-08-29,2.05,0.44,...,16.28,1,breitbart,1.03,"WASHINGTON, DC - Uyghur Muslims wearing masks ...","WASHINGTON, DC - Uyghur Muslims wearing masks ...",NaN,Uyghurs Protest China’s ’21st Century Holocaus...,2024-09-17 13:30:28.835999,682
4,1.07,26.44,1.92,0.64,10.02,60029,2024-09-17 13:30:28.835999,2020-08-11,1.92,1.71,...,12.37,1,breitbart,3.2,MSNBC analyst Howard Fineman warned Democrats ...,MSNBC analyst Howard Fineman warned Democrats ...,NaN,MSNBC’s Fineman Warns Dems: Gloating About Tak...,2024-09-17 13:30:28.835999,469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,1.03,23.03,1.51,0.28,8.06,60037,2024-09-17 13:30:28.835999,2020-08-25,2.29,1.27,...,12.31,1,breitbart,0.97,The Republican National Convention continues o...,The Republican National Convention continues o...,NaN,***Live Updates*** Republican National Convent...,2024-09-17 13:30:28.835999,4638
81,1.03,22.33,1.17,0.1,7.19,60038,2024-09-17 13:30:28.835999,2020-08-26,2.69,1.29,...,12.89,1,breitbart,1.03,The Republican National Convention continues o...,The Republican National Convention continues o...,NaN,***Live Updates*** Republican National Convent...,2024-09-17 13:30:28.835999,5911
82,1.12,21.69,1.18,0.46,6.86,60039,2024-09-17 13:30:28.835999,2020-08-27,2.1,1.45,...,12.09,1,breitbart,0.83,President Donald Trump will headline the final...,President Donald Trump will headline the final...,NaN,***Live Updates*** Republican National Convent...,2024-09-17 13:30:28.835999,6707
83,1.06,17.55,2.93,0.27,10.37,60040,2024-09-17 13:30:28.835999,2020-08-27,3.19,1.06,...,12.5,1,breitbart,0.27,Democrats made another mistake when they went ...,Democrats made another mistake when they went ...,NaN,Rep. Van Drew at RNC: Voting No on Impeachment...,2024-09-17 13:30:28.835999,376
84,1.53,25.92,1.07,0.31,8.44,60041,2024-09-17 13:30:28.835999,2020-08-31,3.22,1.99,...,13.5,1,breitbart,2.91,"For many reasons, ""hopeful"" and ""inclusive"" ar...","For many reasons, ""hopeful"" and ""inclusive"" ar...",NaN,"Smith: The RNC’s Hopeful, Inclusive Vision For...",2024-09-17 13:30:28.835999,652